body {
  background: rgba(0, 0, 255, 0.21);
  text-align: center;
  color: rgba(0, 90, 255, 1);
  font-family: "Micro 5";
  font-size: 30px;
}
img {
  border: double 4px rgba(0, 90, 255, 1);
  width: 100%;
  height: 100%;
}
video{
  border: double 3px blue;
  width: 100%;
}
button{
  background: rgba(0, 110, 255, 0.43);
  border-color: rgba(0, 90, 255, 1);
  font-family: "Micro 5";
  font-size: 20px;
  height: 50px;
  width: 70px;
}